{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Оформление заказа
{% endblock %}
{% block content %}
<div class="container_checkout2">
  <div class="table_check_out">
    <div>
    <table id="right" class="cart">
      <thead>
          <th>position</th>
          <th>quantity
          <th>sub price</th>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>{{ product.position }}</td>
              <td id="center">{{ item.quantity}}</td>
              <td id="center">{{ item.total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <thead>
          <th>total:</th>
          <th>{{ cart.get_total_price }}</th>
        </thead>
    </table>
    </div>
    <div>
      <form class="form-checkout" action="{% url 'make_order' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-checkout" type="submit" values="Оформить заказ">
      </form>
    </div>
  </div>
  <div class="text_check_out">
      <div><h3 id="center">CHECKCHECKCHECK</h3><h1 id="left">CHECKCHECK</h1></div>
      <div><h3 id="left">OUTOUTOUTOUTOUTOUT</h3><h1 id="center">OUTOUTOUT</h1></div>
      <div><h3 id="left">CHECKCHECKCHECK</h3><h1 id="left">CHECKCHECK</h1></div>
      <div><h3 id="left">OUTOUTOUTOUTOUTOUT</h3><h1 id="center">CHECKCHECK</h1></div>
      <div><h3 id="center">CHECKCHECKCHECK</h3><h1 id="left">CHECKCHECK</h1></div>
      <div><h3 id="left">OUTOUTOUTOUTOUTOUT</h3><h1 id="left">OUTOUTOUT</h1></div>
  </div>
</div>
{% endblock %}