
html {
    height:100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height:100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 1%;

}
section {
    height: 100%
}

.cart{
    display: block;
    padding: 10%;
}

.wrapper {
    max-height: 90%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper_about {
    max-height: 90%;
    max-width: 1140px;
    width: calc((100% - 80px * 5));
    padding-top: 1%;
    margin-right: auto;
    margin-left: auto;
    
}

.page-header{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 1px;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    max-width: 99%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: #fff;
    /* font-family: ; */
    padding: 0px;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.page-footer__kor {
    margin: 0;
    font-size: 122%;
    font-weight: bold;
}

.page-footer__zina {
    margin: 0;
    font-size: 100%;
    font-weight: bold;
}

.page-footer__nothing {
    margin: 0;
    font-size: 138%;
    font-weight: bold;
    opacity: 1;
}

.page-footer__nothing:hover {
    opacity: 0.6;
}

.page-footer__inform:hover {
    opacity: 0.6;
}

.page-footer__zina:hover {
    opacity: 0.6;
}

.page-footer__inform {
    margin: 0;
    font-size: 122%;
    font-weight: bold;
}

#center {
    text-align: center;
}
#right {float:right;}
#right2 {float:right - 100px;}
#left {float:left;}


.page-body {
    display:inline-block;
    padding-bottom: 9%;

}

.three-col-grid {
    max-width: 1140px;
    padding-top: 5%;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1%;
    row-gap: 10%;
}
.grid-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-item__title {
    margin: 0;
    padding-top: 10%;
    font-size: 150%;
    font-weight: 600;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.grid-item__price {
    margin: 0;
    padding-top: 7%;
    font-size: 120%;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.grid-order {
    padding-top: 15%;
    max-width: 28%;

}

.grid-order__link {
    text-decoration: none;
    color: #000000;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.grid-order__title {
    margin: 0;
    font-size: 105%;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.all-spaces {
    width: 50%;
    white-space: pre;
}

.preview {
    width: 66%;
    align-self: center;
}

.preview-detail {
    height: 900px; 
    overflow: auto;
}

.marquee {
    width: 1435px;
    white-space:nowrap;
    overflow:hidden;
    bottom: 0;
    left: 0;
    right: 0;
    }
    
.marquee span {
    color:#ffffff;
    font-size:20px;
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee 50s infinite linear;
    animation: marquee 50s infinite linear;
}
    
@-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}


thead th, tbody tr.total {
    background:#000000;
    color:rgb(255, 255, 255);
    font-weight:bold;
}

.filters__img {
    width: 44%;
    margin-top: 100px;
}
  

button.submit {
    all: unset;
    width: 40px;
    height: 40px;

    color: #ffffff;
}

button.submit_card {
    all: unset;
    width: 190px;
    height: 50px;

    color: #ffffff;
    
}

.textinput {
    border: none;
}