<a href="{% url 'order.html' %}"style="color: hsl(0, 0%, 0%); text-decoration: none;" >
    <span>
      <p class="page-footer__inform">INFORM</p>
    </span>
  </a>
  <a href="{% url 'index.html' %}" style="color: hsl(0, 0%, 0%); text-decoration: none;">
    <span>
      <p class="page-footer__nothing">ничего нет</p>
    </span>
  </a>
  <a href="{% url 'cart:cart_detail' %}" style="color: hsl(0, 0%, 0%); text-decoration: none;" >
    <span class="korzina">
      <p class="page-footer__kor" id="right">KOR</p>
      <p class="page-footer__zina" id="right">zina</p>
    </span>
  </a>
