        <div class="slider">
                <div class="description-container">
                    <figure>
                    <img src="{{new.image_news.url}}" alt="kartinka" class="description-img">
                    </figure>
                    <div class="description-text">
                    <h3 class="description-text__title">
                        {{ new.title_news }}
                    </h3>
                    <p class="description-text__subtitle">
                        {{ new.prew_text }}
                    </p>
                    </div>
                </div>
        </div>