{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container_checkout2">
    <div class="card-body">
    <h4 class="card-title">Log in to your account</h4>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Имя пользователя и пароль не совпадают. Введите правильные данные.
    </div>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">


    {{ form|crispy }}

    <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
    </div>
</div>

{% endblock %}
