{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div  class="container_checkout2">
    <div  class="card-body">
    <div class="card-header">
    <h4  class="card-title"> Registration</h4>
    </div>
    <form  method="post">
        <li>ORDERS: {{ account_form }}</li>
        {% csrf_token %}
        {{ form|crispy }}
        
        <button  type="submit"  class="btn btn-success">sumbit </button>
        </form>
    </div>
    </div>
{% endblock %}
