{% extends "base.html" %}
{% load static %}

{% block title %}
  Корзина покупок
{% endblock %}
{% block content %}
  
  <table class="cart">
    <div id="left"><h3 id="center">KOR</h3></div>
    <thead>
      <tr>
        <th></th><th></th>
        <th>position</th>
        <th></th>
        <th>quantity</th>
        <th></th>
        <th>delete</th>
        <th></th>
        <th>price</th>
        <th></th>
        <th>sub price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <th></th><th></th>
            <td>{{ product.position }}</td>
            <td ></td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                <button class="submit" type="submit" value="refresh">
                  <a style="color: hsl(0, 0%, 29%); text-decoration: none;">{{ item.update_quantity_form.update }} &#8634;</a>
                </button>
                {% csrf_token %}
              </form>
            </td>
            <td></td>
            <td id ="center"><a style="color: hsl(0, 0%, 29%); text-decoration: none;" href="{% url 'cart:cart_remove' product.id %}">X</a></td>

            <td></td>
            <td id="center">{{ item.price }}</td>
            <th></th>
            <td id="center" class="num">{{ item.total_price }}</td>
            <td></td>

          </tr>
        {% endwith %}
      {% endfor %}
      <thead><th></th></thead> <thead><th></th></thead> <thead><th></th></thead>


      <thead>
        <td colspan="29"></td>
        <th>total:</th>
        <th>{{ cart.get_total_price }}</th>
        <div id="left"><h1>ZINA</h1></div>
      </thead>
      
  </table>
  <p id="center">
    <td ></td>
    <a style="color: hsl(0, 0%, 0%); text-decoration: none;"class="submit" type="submit" href="#">CHECK OUT</a>
  </p>
{% endblock %}