<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} ничего нет {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <section>
        <div class="wrapper">
            <header class="page-header">{% include 'includes/nav.html' %}</header>
            <main class="page-body">
                <div class="container">
                    {% block content %}
                    {% endblock content%}
                </div>
            </main>
            <footer class="page-footer">{% include 'includes/footer.html' %}</footer>
            
        </div>
    </section>
</body>
</html>