{% extends "base.html" %} 
{% block title %} о ничего нет {% endblock %}
{% block content %}
  <main class="inform">
    <div>
      <h1>Helli</h1>
      <h2>Thnx for coming here</h2>
    </div>
    <div id="left">
      <p class="wrapper_about" style="color: hsl(0, 0%, 0%);text-decoration: none;">
        the idea came quite by chance when Vanya and I delved into electronic music. 
 we were on the same wavelength and created a common playlist with Polish, German, 
 sometimes even with pastoral records,
which most often sounded techno, or something related to it in rhythm. 
 a little later, I wanted to share the vibe of this music so much, 
 that it was decided to produce caps.
 you need to love every thing and put something into it
 we would really like you to get it after you listen to our playlist,
and create a special thing with deep associations from it.
 To order, ask or something else - write to me in <a style="color: hsl(0, 0%, 28%); text-decoration: none;" href="https://t.me/suzzukin"  target="_blank" >telegram</a>
      </p>
    </div>
  </main>

</div>
{% endblock %}
