{% extends "base.html" %} 
{% block title %} о ничего нет {% endblock %}
{% block content %}
  <main>
    <div>
      <h1>привет</h1>
      <h2>спасибо, что зашел сюда</h2>
    </div>
    <div class="all-spaces">
      <pre style="color: hsl(0, 0%, 28%);text-decoration: none;">
        идея пришла совсем случайно, когда мы с Ваней углубились в электронную музыку. 
        мы оказались на одной волне и создали общий плейлист с польскими, немецкими, 
        иногда вообще паслестинскими пластинками, 
        на которых чаще всего звучало техно, либо что-то родственное ему по ритмике. 
        чуть позже, мне настолько сильнее захотелось делиться вайбом этой музыки, 
        что было решено производить кепки.
        каждую вещь нужно полюбить и вложить в нее что-то
        мы очень хотели бы чтобы вы ее получили после того, как послушаете наш плейлист,
        и создали из нее особую вещь с глубокими асоциациями.
        Чтобы заказать, спросить или еще что-то - chat me in <a style="color: hsl(0, 0%, 0%); text-decoration: none;" href="https://t.me/suzzukin"  target="_blank" >telegram</a>
      </pre>
    </div>
  </main>

</div>
{% endblock %}